mat-toolbar {
  height: 100px;

  mat-form-field{
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  
    mat-icon{
      font-size: 3.5rem;
      width: 100px;
      height: 100px;
      margin-top: 50px;;
    }
  }
  
}